<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Introdução ao Vue JS</title>
        <script src="https://unpkg.com/vue"></script>
    </head>

    <body>
    <div id="app">
        {{ msg }}
        <p v-bind:title="titulo">Teste com Title</p>
        <p v-if="condicao">Teste com If</p>
        <p v-for="registro in registros">{{registro.titulo}}</p>
        <button v-if="!clicou" v-on:click="usuarioClicou">Salvar</button>
        <button v-if="clicou" v-on:click="usuarioClicou">Aguarde...</button>

        <p>
            <input type="text" v-model="usuario.nome">
        </p>
        <p>Nome: {{usuario.nome}}</p>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el:"#app",
            data:{
                msg:'Iniciando com Vue',
                titulo:"Teste com V-Bind",
                condicao: true,
                registros:[
                    {titulo:'registro1'},
                    {titulo:'registro2'},
                    {titulo:'registro3'},
                    {titulo:'registro4'},
                    {titulo:'registro5'}
                ],
                clicou: false,
                usuario:{nome:""}
            },
            methods:{
                usuarioClicou: function(){
                    this.clicou = !this.clicou;
                }
            }
        })
    </script>
    </body>
</html>